
CG-1er proyecto/Assets/Iluminación/Primera parte iluminación/SphericalShield.unity
CG-1er proyecto/Assets/Iluminación/Primera parte iluminación/SphericalShield.unity.meta
CG-1er proyecto/Assets/SphericalShield/SphereMaterial Back.mat
CG-1er proyecto/Assets/SphericalShield/SphereMaterial Back.mat.meta
CG-1er proyecto/Assets/SphericalShield/SphereMaterial.mat
CG-1er proyecto/Assets/SphericalShield/SphereMaterial.mat.meta
